@import url(reset.css); <!--card-->

.site {
  background-color: #0040ff;
  background: cover;
}

.body {
  background-color: #0040ff;
  background: cover;
}

.title  {
  font-size: 30px;
  color: #ae0707;
  text-align: center;
  padding-top: 3%;
}

/* search bar */

nav {
  background-color: #000;
  color: #fff;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #d0d0d0;
  text-decoration: none;
  font-size: 18px;
}

.search {
  background: #00ff48;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  justify-content: center;
  cursor: pointer;
  transition: 0.8s;
}

.search-btn {
  background-color: #0040ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor:pointer;
  margin-top: 12px;
  text-decoration: none;
  border: 2px solid #011130;
  transition: all 0.2s ease-in-out;
}

.search-btn:hover {
  color: white;
  border: 2px solid #ff0000;
  background-color: #ff0000;
}

/* cards */

.cards {
  border: none;
  display: inline-block;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  margin: 1%;
}

.button-background  {
  background-color: #721869;
  font-family: 'Merriweather', serif;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

/* flip cards */

.flip-card-back-date {
  font-size: 15px;
}
.flip-card-back-date-title {
  font-size: 20px;
}
.flip-card-back-date-members {
  font-size: 20px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(220, 15, 15, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border: none;
  border-radius: 8px;
}

.flip-card-back-name {
  color: #fff;
  text-align: center;
  font-size: 40px;
  padding-bottom: 5%;
}
.flip-card-back-member {
  color: #fff;
  font-size: 15px;
}

.flip-card-back {
  background-color: #1f22e9;
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px;
}

.img {
  width:300px;
  height:300px;
  border-radius: 8px;
}