@import url(reset.css);

.site {
    background-color:rgb(229, 225, 207);
    height: 100vh;
    background-size: cover;
}

.title {
    font-family: 'Hurricane', cursive;
    color: #091311;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    padding-top: 0px;
}

.image {

    padding-top: 5%;
    border-radius: 15px;
}
@media screen and (min-width: 500px) {

    .img {
        border-radius: 200px;
        margin-left: 140px;
        height: 400px;
        width: 400px;
        float: left;
    }
}
@media screen and (max-width: 500px) {
    .img {
        border-radius: 8px;
        height: 100px;
        width: 100px;
        float: left;
    }
}
.info-global {
    color: #fefefe;
    background-color: rgb(64, 64, 64);
    border: none;
    display: flex ;
    flex-direction: column;
    font-size: 20px;
    margin-left: 60vw;
    text-decoration: none;
    text-align: 500px;
    text-align: center;
    width: 300px;
    height: fit-content;
}

.info-global-title {
    font-size: 35px;
    color: rgb(255, 0, 0);
    text-align: center;
}

.oui {
    display: flex;
    flex-direction: column;
    height: 40vh;
    overflow-y:scroll;
}
.info-global-place {
    font-size: 27px;
    text-align: center;
}

.name-artist {
    font-family: "Helvetica Neue", "Arial",  sans-serif;
    color: #091311;
    font-weight: 200;
    font-size: 4rem;
    text-align: center;
    padding-top: 0px;
}
