@import url(reset.css);

.site {
    background-color:rgb(229, 225, 207);
    height: 100vh;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.title {
    font-family: 'Hurricane', cursive;
    color: #091311;
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
    padding-top: 0px;
}

.image {

    padding-top: 5%;
    border-radius: 15px;
}
@media screen and (min-width: 500px) {

    .img {
        border-radius: 200px;
        height: 400px;
        width: 400px;
        float: left;
    }
}
@media screen and (max-width: 500px) {
    .img {
        border-radius: 8px;
        height: 100px;
        width: 100px;
        float: left;
    }
}
.info-global {
    color: #cfcfcf;
    background-color: #091311;
    border-radius: 10px;
    display: flex ;
    flex-direction: column;
    font-size: 20px;
    text-decoration: none;
    text-align: 500px;
    text-align: center;
    width: 400px;
    height: fit-content;
}

.info-global-title {
    font-size: 35px;
    color: white;
    text-align: center;
}

.info-global .maps:hover {
    color: white;
    border-bottom: 2px solid white;
}

.oui {
    display: flex;
    flex-direction: column;
    height: 40vh;
    overflow-y:scroll;
}
.info-global-place {
    font-size: 27px;
    text-align: center;
}

.name-artist {
    font-family: "Helvetica Neue", "Arial",  sans-serif;
    color: #091311;
    font-weight: 200;
    font-size: 4rem;
    text-align: center;
    padding-top: 0px;
}


.logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #091311;
    width: 120px;
    border-radius: 10px;
}

.logomusic {
    width: 50px;
    position: relative;
    
}