.background{
    opacity: 0.7;
    position: fixed;
    max-width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    z-index: 0;
}

h1{
    padding-top: 30%;
    left: 0;
}


.firstButton {
    margin-left: 50%;
    padding-top: 30%;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    padding: 10px 20px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.firstButton:hover{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  background:linear-gradient(#ffffff, #0000);
}