<!Doctype HTML>
<html>
    <link rel="stylesheet" href="http://localhost:8080/templates/home.css">
    <head>
        <title>Home Page</title>
    </head>
    <body>       

        <div>
            <h1 class="mainText"> Lorem ipsum dolor sit amet.</h1>
            <h2 class="mainText">Lorem ipsum dolor sit amet.</h2>
        </div>
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src="writeAnimation.js"></script>
        <img src="http://localhost:8080/templates/Foule_image.jpg" class="background">
        <div class="footer"><p>© 2023 Groupie Tracker, Create BY MOM Tayvadi, Son Charles and Son Tom </p></div>
    </body>

</html>
