<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="cssFile/artist.css">
  <title>Artist Page</title>
</head>
<body>
  <div class="cards-container">
    <!-- JSON data goes here, need to create a loop to go through all JSON elements --> 
    {{range .artists}}
    <!--Create HTML elements and populate with data-->
    <div class="card">
        <img class="Image">{{.Image}}</img>
        <p class="Members">{{.Members}}</p>
        <p class="Creation Date">{{.CreationDate}}</p>
        <p class="First Album"> {{.FirstAlbum}}</p>
        <p class="Locations">{{.Locations</p>
        <p class="Concert Dates">{{.ConcertDates}}</p>
    </div>
  </div>
</body>
</html>
