<!DOCTYPE html><!--Détails des artistes-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="../templates/cssFile/details.css">-->
    <link rel="stylesheet" href="http://localhost:8080/cssFile/details.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap" rel="stylesheet">
    <link rel="icon" href="picture/G.png"/>
        <title>Groupie-Tracker</title>
</head>

<body>
    <div class="site">
        <div class="name-artist">
        {{.Name}}
        </div>
        <main>
            <div class="image">
                <img class="img" src="{{.Image}}">
           </div>
           <div class="info-global">
               <p class="info-global-title">Creation date :</p>
           {{.CreationDate}}
               <div class="oui">
                       <p class="info-global-title">Concert :</p>
                       {{range $key, $value := .Relations.DatesLocations}}
                       <div class="info-global-place">
                            <a class="maps" href="https://www.google.fr/maps/search/{{$key}}" target="_blank"><span>📍 {{$key}}:</span></a>
                       </div>
                           <div>
                               {{range $value}}
                               <div>
                                  <p>{{.}}</p> 
                               </div>
                               {{end}}
                       </div>
                       {{end}}
               </div>
           </div>
           <div class="logos">
               <a class="logomusic" href="https://open.spotify.com/search/{{.Name}}" target="_blank">
                   <img class="logomusic" src="http://localhost:8080/picture/spotify.png" alt="">
               </a>
               <a class="logomusic" href="https://www.deezer.com/search/{{.Name}}" target="_blank">
                   <img class="logomusic" src="http://localhost:8080/picture/deezer.png" alt="">
               </a>
           </div>
        </main>
    </div>
</body>
</html>