<!Doctype HTML>
<html>
    <link rel="stylesheet" href="http://localhost:8080/cssFile/home.css">
    <head>
        <title>Home Page</title>
    </head>
    <body>       
    
        <div>
            <h1 class="mainText"> Lorem ipsum dolor sit amet.</h1>
            <h2 class="mainText">Lorem ipsum dolor sit amet.</h2>
        </div>
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src="http://localhost:8080/javaFile/writeAnimation.js"></script>
        <img src="https://lh3.googleusercontent.com/kHXz97dbtMB6DHfnHBQc7YpzaHeGY7f9du2Tg0YM7kbUWyPmidpcGNsXt1Le3wQjjPp8f8XnejCufAwkW4EUYfGkiEeqSOkd86nrjx6f" class="background">
        <div class="footer"><p>© 2023 Groupie Tracker, Create BY MOM Tayvadi, Son Charles and Son Tom </p></div>
    </body>
  
</html>


