<!Doctype HTML>
<html>
    <link rel="stylesheet" href="http://localhost:8080/cssFile/home.css">
    <head>
        <title>Home Page</title>
    </head>
    <body>       

        <div>
            <h1 class="mainText"> Lorem ipsum dolor sit amet.</h1>
            <h2 class="mainText">Lorem ipsum dolor sit amet.</h2>
        </div>
        <div class="button">
            <form class="raise" action = "/mainPage" method="post">
                <input class="firstButton" type="submit" value="Découvrir les artistes" name="home">
            </form>
        </div>

        
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src="http://localhost:8080/javaFile/writeAnimation.js"></script>
        <img src="http://localhost:8080/picture/Foule_image.jpg" class="background">
        <div class="footer"><p>© 2023 Groupie Tracker, Create BY Tayvadi, Charles and Tom </p></div>
    </body>

</html>