<!Doctype HTML>
<html>
    <link rel="stylesheet" href="/cssFile/home.css">
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h1 class="TITRE">Home Page</h1>
    </body>
</html>